# Ignore all subdirs
*/*
node_modules
packages.json

# Un-ignore top-level files
!/*

# For now exclude all existing workloads
**/*.html
**/*.js

!**/benchmark.js
!**/src/*

# Ignore generated and third-party files
*/**/build/
*/third_party/